<li>
    <div class="task-container" data-taskblock-id="@task.idTask">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="white-text">
                <input type="checkbox" data-task-id="@task.idTask" data-type="task-check" @onclick="UpdateTask" @bind="done"/>
                <span>@task.deTask</span>
            </label>
        </div>
    </div>
</li>

@code {
    [Parameter]
    public Data.Taskie task { get; set; }

    private bool done;

    private void UpdateTask()
    {

    }
}
