@page "/Task"
@using TaskiesBlazor.Data
@inject TaskBlockService taskBlockService
<h3>Taskies</h3>
@if (taskBlocks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var block in taskBlocks)
    {
        <TaskBlock taskBlock="block" @key="block" RemoveCall="RemoveBlock" NewBlock="CreateBlock"/>
    }
}

@code {
    IList<Data.TaskBlock> taskBlocks;

    protected override async Task OnInitializedAsync()
    {
        taskBlocks = await taskBlockService.GetTaskBlocksAsync();
        taskBlocks.Add(new Data.TaskBlock()
        {
            idTaskBlock = 0,
            Tasks = new List<Data.Taskie>()
        });
    }

    private void RemoveBlock(int idTaskBlock)
    {
        Data.TaskBlock taskBlock = taskBlocks.FirstOrDefault(block => block.idTaskBlock == idTaskBlock);
        taskBlocks.Remove(taskBlock);
    }
    private void CreateBlock()
    {
        taskBlocks.Add(new Data.TaskBlock()
        {
            idTaskBlock = 0,
            Tasks = new List<Data.Taskie>()
        });
    }
}
